@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}
